.app {
  padding: 30px;
  display: flex;
}

.app > div {
  margin-right: 50px;
}

.isError {
  border: crimson 1px solid;
}

.errorMessage {
  color: crimson;
}

.isActive {
  background-color: #5ba7ee;
}

.isDone {
  opacity: 0.5;
}

.container {
  display: flex;
  align-items: center;
}